<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"> 
    <title>Login - MVERNON</title>
</head>
<body>
    
     <header class="header">
        <div class="logo">
            <img src="../img/Marca.png" alt="Logo da Loja" width="300">
        </div>
        
        <%- include('partials/header', { 
            nome: nome, 
            tipo_acesso: tipo_acesso,
            currentPage: currentPage
        }) %>

    </header>

    <main>
        <section id="sobre" class="sobre-container">
            <h2><strong> Descrição da Empresa </strong></h2>
            <p>
                A <strong>Mount Vernon</strong> nasceu em 1981, fundada por <strong>Waldomiro Pasquini</strong>, o “Seu Miro”, 
                que iniciou a produção de camisas com apenas 5 funcionários e conquistou destaque pela qualidade e estilo.
            </p>
            <p>
                Hoje, é uma das <strong>maiores camisarias de São Paulo</strong>, 
                produzindo cerca de 20 mil peças por mês, distribuídas em 16 estados e no DF.
            </p>
            <p>
                Com mais de 120 profissionais em uma estrutura de 2.000 m², a marca investe em tecnologia, pesquisa e design, 
                mantendo como essência a sofisticação, a atenção aos detalhes e a excelência em cada camisa.
            </p>
        </section>
    </main>

</body>
</html>